[submodule "anchor-escrow"]
	path = anchor-escrow
	url = git@github.com:br8bit/solana-anchor-escrow.git
[submodule "anchor-vault"]
	path = anchor-vault
	url = git@github.com:br8bit/solana-anchor-vault.git
[submodule "anchor-marketplace"]
	path = anchor-marketplace
	url = git@github.com:br8bit/solana-anchor-marketplace.git
[submodule "anchor-amm"]
	path = anchor-amm
	url = git@github.com:br8bit/solana-anchor-amm.git
[submodule "capstone-project"]
	path = capstone-project
	url = git@github.com:br8bit/solana-capstone-project.git
[submodule "nft-staking"]
	path = nft-staking
	url = git@github.com:br8bit/solana-nft-staking.git
[submodule "anchor-dice"]
	path = anchor-dice
	url = git@github.com:br8bit/anchor-dice-game.git
[submodule "solana-starter"]
	path = solana-starter
	url = git@github.com:br8bit/solana-starter.git
[submodule "turbin3-prereq-rust"]
	path = turbin3-prereq-rust
	url = git@github.com:br8bit/turbin3-prereq-rust.git
